*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#headBlock, #ulBlock{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    gap: 2rem;
    list-style: none;
}
.product-list{
    padding: 10px;
    background-color: coral;
}
.card{   
    width: max-content;
    padding: 10px;
    background-color: silver;
    border: 1px solid red;
}